// Import multi-page styles from _general-before-bs.scss file
@import "general-before-bs.scss";

// Import Bootstrap SCSS file
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Import multi-page styles from _general-after-bs.scss file
@import "general-after-bs.scss";

.partnership-section {
    img {
        width: 100px;
    }
}

.past-conferences-section {
    .card-grid {
        display: flex;
        flex-wrap: wrap;
    } 
}
