// Fonts and colours in accordance with design specification

@font-face {
  font-family: Cocogoose;
  src: url("../assets/fonts/cocogoose/Cocogoose_trial.otf");
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/lato-regular.ttf");
}

$font-family-sans-serif: Lato, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: Cocogoose, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;
$dark: #d3d3d3;
$primary: #ec5242;
$secondary: #272a31;

// Import Bootstrap SCSS file
@import "node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --Cocogoose: Cocogoose, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --Lato: Lato, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --grey: #d3d3d3;
  --primary: #ec5242;
  --secondary: #272a31;
}

html {
  font-size: 10px;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-section {
  background-color: #f8f8f8;
  padding-top: 40px;
  padding-bottom: 40px;
  h3 {
    font-weight: 300;
    font-size: 2rem;
    color: var(--primary);
  }
  h1 {
    font-family: var(--Cocogoose);
    font-size: 2.7rem;
    font-weight: 900;
    color: var(--primary);
  }
  .intro-box {
    padding: 15px 15px;
    margin: 15px -3px 0px;
    border: 3px solid white;
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-weight: 500;
    background-color: #f8f8f8;
    color: var(--secondary);
  }
  .dates {
    margin-top: 30px;
    font-size: 2rem;
    font-family: var(--Cocogoose);
    color: #585858;
  }
  .location {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 10px;
    color: #585858;
  }
}

.main-program-section {
    color: #FEFEF9;
    padding-top: 20px;
    background-image: url(../assets/images/background-2.png);
    background-size: 25px 25px;
    background-repeat: repeat;
    .card-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        .card {
            margin: 2.5px 0px;
            background: rgba(255, 255, 255, 0.2);
            .card-title {
                color: var(--primary);
                font-weight: 700;
                padding: 0;
                text-align: center;
            }
            .card-text {
                padding: 10px 10px 10px 0px;
            }
        }
    }
    button {
      background-color: var(--primary);
      border: none;
      color: #FEFEF9;
      font-size: 1.5rem;
    }
}



.partnership-section {
  img {
    width: 100px;
  }
}

.featured-speakers-section {
  h3 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .card-grid {
    display: flex;
    flex-wrap: wrap;
        .card {
        width: 50%;
        min-width: 300px;
        flex-grow: 1;
        margin: 5px 0px;
        border: none;
        letter-spacing: -0.05rem;
        .card-body {
          padding-right: 0;
        }
        .card-title {
          margin-bottom: 4px;
          font-size: 1.2rem;
          font-weight: 600;
          letter-spacing: -0.08rem;
        }
        .card-subtitle {
          font-size: 0.7rem;
          line-height: 1rem;
          color: var(--primary);
          font-style: italic;
          letter-spacing: -0.06rem;
        }
        .card-text {
          font-size: 0.6rem;
        }
    }
  }
}

.partnership-section {
  background-color: #414246;
  padding: 10px;
  h3 {
    margin: 10px 0px;
    color: #f1f1f1;
    font-size: 1.5rem;
  }
  svg {
    width: 60px;
    height: auto;
    margin: -5px 15px;
    fill: rgba(255, 255, 255, 0.4);
    background: transparent;
  }
}

footer {
  padding: 20px;
}

// Unique styles

// Desktop version

@media screen and (min-width: 768px) {
  .landing-section {
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
    h3 {
      font-weight: 300;
      font-size: 4rem;
      color: var(--primary);
    }
    h1 {
      font-family: var(--Cocogoose);
      font-size: 5.5rem;
      font-weight: 900;
      width: 700px;
      margin-top: 15px;
      color: var(--primary);
    }
    .intro-box {
      width: 600px;
      padding: 20px;
      border: 3px solid white;
      font-size: 1.3rem;
      line-height: 3rem;
      font-weight: 500;
      background-color: #f8f8f8;
      color: var(--secondary);
    }
    .dates {
      margin-top: 40px;
      font-size: 3rem;
      font-family: var(--Cocogoose);
      color: #585858;
    }
    .location {
      font-size: 2rem;
      margin-top: 10px;
      color: #585858;
    }
  }
}
