// Fonts and colours in accordance with design specification

@font-face {
    font-family: Cocogoose;
    src: url("../assets/fonts/cocogoose/Cocogoose_trial.otf");
}

@font-face {
    font-family: Lato;
    src: url("../assets/fonts/lato-regular.ttf");
}

$font-family-sans-serif: Lato, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: Cocogoose, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
$dark: #d3d3d3;
$primary: #ec5242;
$secondary: #272A31;

// Import Bootstrap SCSS file
@import "node_modules/bootstrap/scss/bootstrap.scss";

:root {
    --Cocogoose: Cocogoose, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --Lato: Lato, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --grey: #d3d3d3;
    --primary: #ec5242;
    --secondary: #272A31;
}

html {
    font-size: 10px;
}


.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-section {
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #f8f8f8;
    h3 {
        font-weight: 300;
        font-size: 4rem;
        color: var(--primary);
    }
    h1 {
        font-family: var(--Cocogoose);
        font-size: 5.5rem;
        font-weight: 900;
        width: 700px;
        margin-top: 15px;
        color: var(--primary);
    }
    .intro-box {
        width: 600px;
        padding: 20px;
        border: 3px solid white;
        font-size: 1.3rem;
        line-height: 3rem;
        font-weight: 500;
        background-color: #f8f8f8;
        color: var(--secondary);
    }
    .dates {
        margin-top: 40px;
        font-size: 3rem;
        font-family: var(--Cocogoose);
        color: #585858;
    }
    .location {
        font-size: 2rem;
        margin-top: 10px;
        color: #585858;
    }
}

.partnership-section {
    img {
        width: 100px;
    }
}

.featured-speakers-section {
    .card-grid {
        display: flex;
        flex-wrap: wrap;
        .card {
            width: 50%;
            min-width: 300px;
            flex-grow: 1;
        }
    }
}

// Unique styles



