// Import multi-page styles from _general-before-bs.scss file
@import "general-before-bs.scss";

// Import Bootstrap SCSS file
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Import multi-page styles from _general-after-bs.scss file
@import "general-after-bs.scss";

.partnership-section {
    img {
        width: 100px;
    }
}

form {
    .tickets {
        max-width: 100%;
        table {
            text-align: center;
            border: 1px solid #333;
            td,
            th {
                padding: 20px 40px;
                }
            }
        }
    .form-check-input {
                position: static;
                display: block;
                margin: 0px auto;
                align-self: center;
    }
    .lunch-section {
        ul,
        li {
            padding: 0;
        }
        li {
            margin: 0 2px;
        }
    }
}

